<%=@customer.name%>

<%=form_with url:'/customer_items', local: true do |f|%>

  <%= f.label :id %>
  <%= f.text_field :id %>

  <%=f.submit%>
<% end %>


Items: <% @items.each do |item| %>
<div id="items-<%=item.id%>">
 Name:<%=item.name%>
 Price:<%=item.price%>
 Supermarket:<%=item.supermarket.name%><br>
 </div>
<% end %>